ul.oeghead {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #df0006;
}

li.oeghead {
    float: left;
    border-right:0px solid #df0006;
}

li:last-child.oeghead {
    border-right: none;
    float:right;
    background-size: contain;
    font-family: sans-serif;
}

li.oeghead a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.oeghead a:hover:not(.active) {
    background-color: #c22;
}

.isologo {
    background-color: #df0006;
    background-image: url(balls.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: sans-serif;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #26669d;
   color: white;
   text-align: center;
   font-size: 0.5em;
   font-family: sans-serif;
   z-index: 100;
}

.inmu
{
    text-decoration: none;
}


img
{
    border: 0px !important;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}

.banner-xs
{
    width: 20%;
}

.banner-s
{
    width: 40%;
}

.banner-m
{
    width: 60%;
}

.banner-l
{
    width: 80%;
}

.author
{
    font-size: 0.6em !important;
    color: darkblue;
}

.contact 
{
    font-size: 0.5em !important;
    color: blue;
}

.title {
    text-transform: none !important;
    color: darkblue !important;
}

.license {
    color: white !important;
}